{%extends 'base.html'%}
{% load pagination_tags %}
<title>{%block page_title%}pepXML files{%endblock%} </title>

{%block custom_style%}

<!-- custom styles -->
    <style type="text/css">

		body {
			font-family: 'Open Sans', sans-serif;
			padding-top: 20px;
			padding-bottom: 40px;

		}
		table {
			font-size: 12px;
		}

		#logo
			a .off { 
				display: block; 
			}
			a .on { 
				display: none; 
			}
			a:hover .off { 
				display: none; 
			}
			a:hover .on { 
				display: block; 
			}
		.footer{
			padding:20px;
		 	margin: 30px 0 0 0;
		 	color:#000000;
		 	background:url("{{STATIC_URL}}img/footer_texture.png") repeat;
		 	clear: both;
		 }

    </style>
 {%endblock%}

{%block maincontent%}
	{% if pepxml %}
	<h4>{{pepxml.count}}pepXML records in the database</h4>
	<table class="table table-bordered">
		<tr>
	        <th>Filename</th>
			<th>User</th>	
			<th>Uploaded</th>
			<th>Size</th>
			<th>Located</th>	      					
		</tr>
		{% for section in pepxml %}
			<tr>
	      		<td> {{section.filename}} </td>
				<td> {{section.fuser}} </td>
				<td> {{section.uploaded}} </td>
				<td> {{section.size}} </td>
				<td> {{section.located}} </td>
			</tr>   
		{% endfor %}

	</table>

	{%endif%}


<div class="success">
    <span class="step-links">
        {% if pepxml.has_previous %}
            <a href="?page={{ pepxml.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ pepxml.number }} of {{ pepxml.paginator.num_pages }}.
        </span>

        {% if pepxml.has_next %}
            <a href="?page={{ pepxml.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

	
{%endblock%}